<!-- 
searching Bar Section
-->
<h3>Searching engine</h3>
<div class="well">
  <form class="form-horizontal" action="/search/searchingResult" method="post">
    <div class="control-group">
      <label class="control-label" for="inputProductName">Product name</label>
      <div class="controls">
        <input name="ProductName" type="text" id="inputProductName" placeholder="Input product's name here" />
      </div>
    </div>
    <div class="control-group container">
      <label class="control-label">Product Type</label>
      <div class="controls">
        <select class="span1" name="ProductType">
          <option value="0">All</option>
          <option value="1">Shoe</option>
          <option value="2">Clothe</option>
          <option value="3">Watch</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Producer</label>
      <div class="controls">
        <select class="span1" name="Producer">
          <option value="0">All</option>
          <option value="1">Casio</option>
          <option value="2">Curren</option>
          <option value="3">CoolMate</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Origin</label>
      <div class="controls">
        <select class="span1" name="Origin">
          <option value="0">All</option>
          <option value="1">VietNam</option>
          <option value="2">Taiwan</option>
          <option value="3">China</option>
          <option value="4">Japan</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Price</label>
      <div class="controls">
        <select class="span1" name="Price">
          <option value="0">All</option>
          <option value="1">2000000-5000000</option>
          <option value="2">5000000-10000000</option>
          <option value="3">10000000-20000000</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Order By</label>
      <div class="controls">
        <select class="span1" name="OrderBy">
          <option value="0">All</option>
          <option value="1">Price</option>
          <option value="2">Upload date</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="exclusive shopBtn">Search</button>
      </div>
    </div>
  </form>
</div>
<!--
Body Section 
-->

<!-- 
Three column view
-->
<h3>Result</h3>

<ul class="thumbnails">
  {{#each dataRender}}
    <li class="span4">
      <div class="thumbnail">
        <a href="/product/product-details-Seller" class="overlay"></a>
        <a class="zoomTool" href="/product/product-details-Seller/{{ProductID}}" title="Edit product"><span class="icon-search"></span> QUICK VIEW</a>
        <a href="/product/product-details-Seller/{{ProductID}}"><img src="{{ProductImage}}" style="width:276px !important; height:357px !important" /></a>
        <div class="caption cntr">
          <p>{{ProductName}}</p>
          <p><strong> $ {{ProductPrice}}</strong></p>
          <h4><a class="shopBtn" href="/product/product-edit" title="Edit product"> Edit product </a></h4>
          <div class="actionList">
            <a class="pull-left" href="#">Lock from Product List </a>
            <a class="pull-left" href="#"> Delete from Product List </a>
          </div>
          <br class="clr" />
        </div>
      </div>
    </li>
  {{/each}}
</ul>
<ul>
  <h3>
    <a href="/search/searchingResult?page=1"> Page 1</a>
    <a href="/search/searchingResult?page=2"> Page 2</a>
    <a href="/search/searchingResult?page=3"> Page 3</a>
  </h3>
</ul>
<!-- 
Clients 
-->
<section class="our_client">
  <hr class="soften" />
  <h4 class="title cntr"><span class="text">Manufactures</span></h4>
  <hr class="soften" />
  <div class="row">
    <div class="span2">
      <a href="#"><img alt="" src="assets/img/1.png" /></a>
    </div>
    <div class="span2">
      <a href="#"><img alt="" src="assets/img/2.png" /></a>
    </div>
    <div class="span2">
      <a href="#"><img alt="" src="assets/img/3.png" /></a>
    </div>
    <div class="span2">
      <a href="#"><img alt="" src="assets/img/4.png" /></a>
    </div>
    <div class="span2">
      <a href="#"><img alt="" src="assets/img/5.png" /></a>
    </div>
    <div class="span2">
      <a href="#"><img alt="" src="assets/img/6.png" /></a>
    </div>
  </div>
</section>

<!--
Footer
-->